.selected {
    filter: drop-shadow(0 0 8px pink);
    border-radius: 50px;
}

.songstyle {
    visibility: hidden;
    border: dotted white;
    width: 500px;
    border-radius: 16px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #fae6e7;
    padding: 20px;

}

#terminal {
    background-color: black;
    color: white;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    width: 500px;
    height: 430px;
    overflow: hidden;
}

#terminal-out {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}