.selected {
    filter: drop-shadow(0 0 8px pink);
    border-radius: 50px;
}

.songstyle {
    visibility: hidden;
    border: dotted white;
    width: 500px;
    border-radius: 16px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #fae6e7;
    padding: 20px;

}